---
import { languages } from "../i18n/languages";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getResourceRoute } from "../utils/path";

const { lang: currentLang } = Astro.params; // current selected language in the URL
const baseUrl = import.meta.env.BASE_URL; // base path of the site

/* current resource user is navigating to */
const resourceRoute = getResourceRoute(Astro.url.pathname || '');
---

<div>
  --- LANG-PICKER ---
  <pre>current-lang:{currentLang}</pre>
  <pre>base-url:{baseUrl}</pre>
  <pre>resource-route:{resourceRoute}</pre>
  <ul>
    {
      Object.entries(languages).map(([langKey, langObj]) => (
        <li>
          <a href={getRelativeLocaleUrl(langKey, resourceRoute)}>{langObj.label} {langObj.flag}</a>
        </li>
      ))
    }
  </ul>
  --- ---
</div>
