---
import LanguagePicker from "../components/LanguagePicker.astro";
import { defaultLang, languages } from "../i18n/languages";
import { getResourceRoute } from "../i18n/utils";

const { lang: currentLang } = Astro.params; // current selected language in the URL
const baseUrl = import.meta.env.BASE_URL; // base path of the site
const siteUrl = import.meta.env.SITE; // domain of the site

Astro.url.toString();

/* current resource user is navigating to */
const resourceRoute = getResourceRoute(Astro.url.pathname || '');


// canonical self-referencing
const canonical = `${siteUrl}${baseUrl}/${currentLang}${resourceRoute}`;

// alternate hreflang links
const alternates = Object.keys(languages).map((lang) => ({
  hreflang: lang,
  href: `${siteUrl}${baseUrl}/${lang}${resourceRoute}`,
}));
// x-default SOLO homepage lingua -->
if (resourceRoute === "/")
  alternates.push({
    hreflang: "x-default",
    href: `${siteUrl}${baseUrl}/${defaultLang}/`,
  });
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Via dei Sette Santi</title>

    <!-- i18n SEO: canonical -->
    <link rel="canonical" href={canonical} />

    <!-- i18n SEO: Hreflang (alternate + xdefault) -->
    {
      alternates.map((alt) => (
        <link rel="alternate" hreflang={alt.hreflang} href={alt.href} />
      ))
    }
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>
    <slot />

    <pre>current-lang:{currentLang}</pre>
    <pre>base-url:{baseUrl}</pre>
    <pre>resource-route:{resourceRoute}</pre>
    <pre>canonical:{canonical}</pre>
    <pre>astro-url:{Astro.url.toString()}</pre>
    {
      alternates.map((alt) => (
        <pre>alternate-href:{`${alt.href} - ${alt.hreflang}`}</pre>
      ))
    }

    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>
